/* .get_given_category_head{
    display: flex;
    
    justify-content: center;
    align-items: center;
    width: 100vw;
    
    flex-direction: column;
    
} */
/* .image{
    width: 15vw;
    height: 30vh;
}
.subimage{
    width: 15vw;
    height: 30vh;
} */

.body_category{
    display: flex;
    padding: 10px;
    /* justify-content: center; */
   width: 100%;
    
   min-height: 100vh;
   
    
}
.cart_name_size{
    font-size: 12px;
}
.body_category .card-main-category{
    margin: 10px;
    color: var(--blue);
    box-shadow: 2px 2px 2px 2px rgb(199, 189, 189);
    display: flex;
    justify-content: center;
   
    width: 250px;
    height: 350px;
    position: relative;
}

.price_category{
    font-weight: bold;
    text-decoration: line-through
}
.price_category__without__offe{
    font-weight: bold;
}
.category_description{
    color: rgb(121, 118, 114);
}
.body_subcategory{
    display: flex;
    padding: 10px;
    justify-content: center;
   
    min-height: 100vh;
   
    
}
.body_subcategory .card-sub-category{
    margin: 10px;
    color: var(--blue);
    box-shadow: 2px 2px 2px 2px rgb(199, 189, 189);
    display: flex;
    justify-content: center;
    width: 250px;
    height: 350px;
    position: relative;
}
.price_subcategory{
    font-weight: bold;
}
.card{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.card-body-category{
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.342);
    width: 100%;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}
.offer__box_user{
    height: 70px;
}



