.landing_page{
    height: 100vh;
    padding: 70px;
    width: 100vw;
}
.landing_carousel{
  width: 100vw;
  height: 40vh;
  background-color: tomato;
}
.new_arrivals{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex-direction: column;
}
.card_container_banner{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 80vw;
  
}
.card_container_banner .arrival_card{
  margin: 10px;
    color: var(--blue);
    box-shadow: 2px 2px 2px 2px rgb(199, 189, 189);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 40vh;
}
.arrival_image{
  
    width: 15vw;
    height: 30vh;

}

 
/* .dropdown {
    margin-top: 0vh;
    position: absolute;
    display: inline-block;
    
    min-height: 50vh;
    
  }
  .dropdown::-webkit-scrollbar {
    display: none;
  }
  .drop_content{
      z-index: 100;
      max-height: 100vh;
       */
  /* }
  .dropdown {
    margin-top: 0vh;
    position: absolute;
    display: inline-block;
    
    min-height: 50vh;
    
  }
  .dropdown::-webkit-scrollbar {
    display: none;
  }
  .drop_content{
      z-index: 100;
      max-height: 100vh;
      
  }
  
  
  
  .dropdown {
    margin-top: 0vh;
    position: absolute;
    display: inline-block;
    
    min-height: 50vh;
    
  }
  .dropdown::-webkit-scrollbar {
    display: none;
  }
  .drop_content{
      z-index: 100;
      max-height: 100vh;
      
  } */
  
  
  
  
  
  
  
  