.landing_page{
    min-height: 100vh;
    /* padding: 70px; */
    width: 100vw;
}
.landing_carousel{
  width: 100vw;
  height: 350px;
  background-color: tomato;
}
.new_arrivals{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex-direction: column;
}
.card_container_banner{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 80vw;
  
}
.card_container_banner .arrival_card{
  margin: 10px;
    color: var(--blue);
    box-shadow: 2px 2px 2px 2px rgb(199, 189, 189);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 350px;
    position: relative;
  
}
.arrival_image{
  
  width: 250px;
  height: 350px;

}
.new_arrivals .sub_heading{
width: 100%;

display: flex;
justify-content: center;
align-items: center;
padding: 2%;
}
.landing__row{
  width: 100%;
}
.card__body{
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.342);
  width: 100%;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;

}
.heart__landing{
  position: absolute;
  top: 2px;
  left: 3px;
  color:whitesmoke;
 
}


 
