.user_navbar{
    width: 100vw;
    height:100px;
    background-color: rgb(6, 6, 39); 
    color: white;
    display: flex;
    flex-direction: column;
    padding: 5px;
    box-sizing: border-box;

}
.nav_top{
    height: 30%;
    width: 100%;
    background-color: rgb(6, 6, 39);
    display: flex;
    align-items: center;
    text-decoration: none;
}
.nav_bottom{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    background-color: var(--blue);
    color: var(--blue);
    color: white;
}
.nav_bottom button Link{
    text-decoration: none;
}
.nav_bottom button{
    width: 100px;
    background-color: rgb(6, 6, 39);
    color: white;

}
.nav_top button Link{
    text-decoration: none;
}
.nav_top .right{
    display: flex;
    width: 50%;
    justify-content: start;
    
}
.nav_top .left .nav_icon{
    margin-left: 10px;
    margin-right: 10px;
}
.nav_top .left{
    display: flex;
    width: 50%;
    justify-content:end;
    margin-left: 10px;
}
.nav_top input{
    width: 50%;
    border-radius: 10px;
    padding: 2px;
}
.category{
    display: flex;
    color: var(--blue);
    width: 100%;
    justify-content: space-around;
    
}
.category .accordion{
    display: flex;
}
.dropdown {
    margin-top: 0vh;
    position: relative;
    display: inline-block;
    
    min-height: 50vh;
    
  }
  .dropdown::-webkit-scrollbar {
    display: none;
  }
  .drop_content{
      z-index: 100;
      max-height: 100vh;
      
  }
  .subcategory_container{
     display: none;
      width: 30vw;
height: auto;

     
  }
  .subcategory_container p{
      margin-right: 10px;
     color: black;
  }
  .category_container:hover .subcategory_container{
display: block;
width: 200px;
height: auto;

display: flex;
flex-direction: column;
color: var(--blue);
background-color: white;
padding: 20px;
color: black;
border: 1px solid black;
z-index: 1000;
position: absolute;



  }
  .link_subcategory{
      color: black;
  }
  .category_container{
      color: var(--blue);
      z-index: 100;
      font-weight: bold;
      color:var(--blue);
      color: white;
     
    
    
      
  }
  .link_category{
      color: white;
  }
   .nav_icon_head:hover .user_detail{
       /* background-color: blanchedalmond; */
      display: block;
  }
  .user_detail{
      display: none;
      background-color: var(--blue);
      position: absolute;
      width: 20vw;
  }
  .nav_icon_bag{

  }
  .nav_top .left .nav_icon_bag{
    margin-left: 10px;
    margin-right: 10px;
}
.img_main_brand{
    height:50px ;
    width: 50px;
}
.search_container_box{
    width: 100%;
    display: flex;
    justify-content: center;
}
.search_container_box input{
    margin-right: 10px;
}
.search_container_box  .search_btn{
    background-color: var(--blue);
    border: none;
    color: white;
}
.search_container_box  .search_btn:hover{
  
    border: none;
    color:rgb(138, 138, 6);  
}

.mail__content__footer{
    color: white;
}
.menu{
    position: relative;
}
@media  (max-width: 700px) {
    .img_main_brand{
        height:30px ;
        width: 30px;
    }
    .search{
        width: 70%;
    }
    .nav_top input {
        width: 70;
        
        font-size: 10px;
       
        padding: 2px
    ;
        width: 100%;
        height: px;
    }
}
  
  
