.main__sucess_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    padding: 10%;
}
.main__sucess_page_col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    background-color: var(--blue);
    color: white;
}
.main__sucess_page_col h1{
    color: white;
}