@import 'react-image-crop/dist/ReactCrop.css';
.profile__pic{
    width: 100px;
    height: 100px;
    margin-left: 30px;
}
.profile__top__row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right__top__profile{
    display: flex;
   
    align-items: center;
}
.right__top__profile h2{
    margin-left: 30px;
}
.show__selected__details{
    display: flex;
    justify-content: center;
}
.order__container{
    margin-top: 5%;
    width: 100%;
}
.btn__order__look{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.btn__order__look .btn{
    width: 150px;
}
.order__summery p{
    line-height: 1;
}
.orderd__product__img{
    width: 100px;
    height: 100px;
}
.row__ordedr__page__user{
    margin-top: 5%;
}
.container__adress__book{
    width: 100%;
    margin-top: 3%;
}
.adress__book__card{
    position: relative;
}
.close__adress{
    position: absolute;
    top: 10px;
    right: 10px;
}
.edit__adress{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: var(--blue);
}
.detail__container{
    font-display: flex;
    margin-top: 20px;
}
.user__detail__username{
line-height: 2;
}
.user__detail__email{
    line-height: 2;
}
.user__detail__number{
    line-height: 2;
}
.user__detail__dob{
    line-height: 2;
}
.row__detail{
    width: 100%;
}
.edit__detail__profile{
    background-color: var(--blue);
}
.main__container__add__adress{
    display: flex;
    justify-content: space-between;
    padding-bottom: 4%;
}
.main__container__adress{
    display: flex;
    justify-content: space-between;
    padding-bottom: 4%;
}
.invalid__err__message{
    color: red;
}
.btn__add__adress__submit{
    background-color: var(--blue);
    margin-top: 5px;
    color: white;
    font-weight: bold;
}
.side__nav{
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
   position: relative;
  font-size: 20px;

}
.placed{
    width: 10px;
    height: 100px;
    background-color: chocolate;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position: relative;
    
}
.not_placed{
    width: 10px;
    height: 100px;
    background-color: rgb(197, 192, 189);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position: relative;
    
}
.packed{
    position: relative;
   
    width: 10px;
    height: 100px;
    background-color: chocolate; 
}
.not_packed{
    position: relative;
   
    width: 10px;
    height: 100px;
    background-color: rgb(197, 192, 189);
}
.shiped{
     width: 10px;
    height: 100px;
    background-color: chocolate; 
    

}
.not_shiped{
    width: 10px;
   height: 100px;
   background-color: rgb(197, 192, 189);
  

}
.status__bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.status__bar p{
   
    width: 100px;
    position: sticky;
    
}
.deliver{
    width: 10px;
   height: 30px;
   background-color: rgb(197, 192, 189);
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;

}

  .crop_img{
      max-width: 100%;
      display: block;
      width: 200px;
      height: 200px;
  }
  .image__preview{
      width: 100px;
      height: 100px;
      float: left;
      margin-left: 10px;
  }
  .main__wallet__box{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 50vh;
  }
  .row__wallet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     
  }
  .content__wallet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .all__icons{
   

  }
  .display__copy{
      position: absolute;

  }
  .wallet__invite_btn{
      margin-top: 1em;
  }
  .copy{
      color: var(--blue);
  }
  #icon{
      margin-left: 2%;
  }
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
.image__coupen {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    font-size: small;
    
}
.image__coupen p{
    margin: 2%;
}
.image__coupen img{
    width: 50px;
    height: 50px;
}
.main__coupen{
    width: 100%;
    padding: 5%;
    
}
.main__coupen ul{
    font-size: small;
}
.img__coupen__row{
    border: 2px solid black;
    box-sizing: border-box;
    padding: 4%;
}
.price__main{
    text-decoration: line-through;
    color: red;
}
.sub__total{
    text-decoration: line-through;
    color: red;

}
.bottom__coupen{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
