#imgedit1{
    margin: 10px;
    display: block;
    width: 100px;
    height: auto;
}
#imgedit2{
    margin: 10px;
    display: block;
    width: 100px;
    height: auto;
}
#imgedit3{
    margin: 10px;
    display: block;
    width: 100px;
    height: auto;
}
#imgedit4{
    margin: 10px;
    display: block;
    width: 100px;
    height: auto;
}
.product_edit_page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
   
    margin-top: 60px;
}
.product_edit_page form{
    display: flex;
    flex-direction: column;
}
.cancel_edit{
    background-color: rgb(55, 107, 55);
    margin: 8px;
}
.edit_img_click{
    margin: 10px;
    background-color: var(--blue);
    color: white;
}