.product_details_main{
    display: flex;
   max-width: 100vw;
   
  justify-content: center;
  background-color: rgb(231, 230, 230);
   
   width: 100vw;
  
  
    position: relative;
    box-sizing: border-box;
}
.top_product_mangment{
    display: flex;
    justify-content:space-around;
    align-items: center;
   
    flex-direction: column;
    width: 100vw;
    
    
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
}
.product_form{
    padding: 10px;
    margin: 5px;
    display: flex;
    
    justify-content: center;
    flex-direction: column;
    background-color: white;

}
.form_container form{
    display: flex;
    flex-direction: column;
    
}
.form_container{
    padding: 100px;
}
#img1{
    margin: 10px;
    display: block;
    width: 100px;
    height: auto;
}
#img2{
    margin: 10px;
    display: block;
    width: 100px;
    height: auto;
}
#img3{
    margin: 10px;
    display: block;
    width: 100px;
    height: auto;
}
#img4{
    margin: 10px;
    display: block;
    width: 100px;
    height: auto;
}
.color__container{
    display: flex;
   width: 100%;
   margin-left: 2%;
   border-radius: 50%;
    
}
.add__color__main__div{
    text-align: center;
    border-radius: 5%;
    width: 50%;
    padding: 2%;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
 
