.App {
  text-align: center;
}

.admin_home_page{
  display: flex;
 
  
  width: 100vw;
  height: 100vh;
  position: relative;
}

/* .main_navbar{
  width: 80vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  background-color: white;
  align-items: center;
  justify-content: end;
  position: sticky;
  
} */
/* .main_navbar button{
  width: 80px;
  background-color: rgb(6, 6, 39);
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 3px;
  
  
} */
.category_display{
  width: 100vw;

}
*::-webkit-scrollbar {
  display: none;
}
